
body {
	padding-top:0px;
	padding:0px;
	margin:0px;
	height:100%;
	   font-family:sans-serif, "open sans";
}
html,body
{
  	height: 100%;
}
@media (min-width: 179px) {
 #sidebar.affix-top {
    position: static;
  	margin-top:0px;
  	width:100%;
  }
  
  #sidebar.affix {
    position: fixed;
    top:0px;
    padding:0px;
    margin:0px;
    width:100%;
  }
}
#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}
#superheader{
	width:100%;
}
#sidebar{
	height:auto;
	background-color:#006699;
}
/*----logo section----*/
.logo{
	height:40px;
	margin-left:70px;
	margin-top:5px;
}
@media (max-width: 1000px) {
.logo{	height:36px;
		margin-top:7px;
}}
@media (max-width: 900px) {
.logo{	height:30px;
		margin-top:10px;
		margin-left:5px
}}
@media (max-width: 400px) {
.logo{	height:24px;
		margin-top:13px;
		margin-left:0px;
}}
@media (min-height: 500px) {
.collapse{padding-right: 0px
}}
/*----heght of nav bar----*/
@media (min-height: 500px) {
.navbar{
	padding-top:3px;
	padding-bottom:3px;
}}
@media (min-height: 600px) {
.navbar{
	padding-top:6px;
	padding-bottom:6px;
}
}
/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #555;
background:none;
}
.navbar-default {/*main Menu bar color
background-color: #FFFFFF;
border-bottom:solid 1px #dddddd;/*mainmeny bottom border
}
.navbar-default .nav .active a, .navbar-default .nav .active a:hover, .navbar-default .nav .active a:focus {
color: #fff;
background:none;
}*/
.navbar-collapse {
padding-left: 0px; 
}
.navmenu_button{
	background-color:#EF655E;
	height:60px;
	border:none;
	color:#FFFFFF;
	border-radius:0px;
	  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	   margin:0px;
	   margin-top:-6px;
	   margin-bottom:-6px;
}
.icon-bar_custom{
	background-color:#FFFFFF;
	height:3px;
	margin-bottom:5px;
}

#sidebar li.active {
	border: 0 #eee solid;
	border-right-width: 0px; 
}
#sidebar li{
}
/*-----navbar links styles--------*/
.navbar-default {
    background-color: #FFFFFF;
    border-bottom:solid 1px #dddddd;
}
/* link */
.navbar-default .navbar-nav > li > a {
	cursor:pointer;
	color:#414141;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {/*-----hover tab-----*/
    color:#FFC000;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {/*-----active tab-----*/
    color:#FFC000;
    background-color:#FFFFFF;
}
/* mobile version --*/
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
/*mobile drop down styles*/
@media (max-width: 667px) {
.navbar-nav > li{
	background-color:#DDDDDD;
	padding-left:20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	border-left:3px #FF0000 solid;
}
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}




/*---skills rounds----*/
.dpm_skills_round{
	background-color:#EF655E;
	width:110px;
	height:110px;
	border-radius:60px;
	  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
	   background-image:url(../img/myicons.png);
	   font-family:sans-serif, "open sans";
}
.dpm_skills_round:hover{
	opacity:0.2;
}
.spacer{
	width:100px;
	height:2px;;
	display:block;
	background-color: #FEC100;
}
.tooltip_li{
	width:200px;
	font-size:16px;
	line-height:24px;
	padding-top:10px;
}
.skills_names{
	padding-top:30px;
	font-size:16px;
}
/*-------projects page-----------------*/
.gallery_filter>li:hover, .gallery_filter>li:focus {
	color:#FFFFFF;
	background-color:#CC0000;
}
@media (min-width: 168px){
.filter{
	background-color:#EEEEEE;
	display:inline;
	padding:10px;
	cursor:pointer;
}}
@media (min-width: 768px){
.filter{
	background-color:#EEEEEE;
	display:inline;
	padding:10px;
	padding-left:50px;
	padding-right:50px;
	cursor:pointer;
}}
/*----project styles-------*/
#Grid .mix{
	display: none;
}
.mix{
	margin:0px;
	height:auto;
	cursor:pointer;
	/*display: -webkit-inline-box;*/
}
@media (min-width: 168px){
.mix{
	width:100%;
}}
@media (min-width: 700px){
.mix{
	width:33.33%;
}}

@media (min-width: 900px){
.mix{
	width:25%;
}}
@media (min-width: 1200px){
.mix{
	width:20%;
}}
#leftarrow>div{
	background-position:0px -60px;
	}
 #rightarrow>div{
	background-position:0px 0px;
	}

#leftarrow>div:hover{
	background-position:30px -60px;
	}
 #rightarrow>div:hover{
	background-position:30px 0px;
	}

.projects_overlay{
	background-color:#795AAB;
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
}
.projects_overlay:hover{
	opacity:0.9;
}
.project_expandicon{
	background-image:url(../img/myicons.png);
	width:110px;
	height:110px;
	background-position:0px -110px;
}
.project_name{
	color:#FFFFFF;
	width:100%;
	text-align:center;
	font-size:18px;
	padding-bottom:10px;
}
.project_desc{
	color:#000000;
	width:100%;
	text-align:center;
}
.cust{
	padding:0px;
	margin:0px;
}
/*---contact form--------*/
.form_input{
	margin-top:10px;
	padding:15px;
	font-size:18px;
	height:50px;
}
.send_button{
	width:100%;
	margin-top:10px;
	border-radius:0px;
	  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
}
#superheader{
	width:100%; height:100%; background-color:#333333;
	 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.spacer2{
	width:70px;
	height:4px;
	display:block;
	background-color: #FFD200;
}
#header_text{
	 font-size: 1.8em; 
	color:#FFFFFF;
	font-weight:600;
	left:40%;
}
.header_list{
	vertical-align:bottom;
	height:50px;
	padding-top:50px;
	width:100%;
	opacity:0;
   	position:absolute;
}
/*font size inside header*/
@media all and (max-height: 600px) { /* screen size until 1200px */
#header_text {        font-size: 2.3em; /* 1.5x default size */    }

}
@media all and (max-height: 500px) { /* screen size until 1000px */
#header_text {        font-size: 1.2em; /* 1.2x default size */        }
    }
@media all and (max-height: 300px) { /* screen size until 500px */
#header_text {        font-size: 0.8em; /* 0.8x default size */        }
    }

   /*---go to top button------*/
 #go_to_top{
 	background-color:#EF655E;
	width:50px;
	height:50px;
	border-radius:60px;
	  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     position:fixed; bottom:10%;right:8%; opacity:0.8;
 }  
  