{
	padding:0;
	margin:0;
}
html,body { height: 100%; margin: 0px; padding: 0px; overflow: hidden; }
/*---------------------------------imort font-----------------------------------------------------------------------------------------------------------*/
@font-face
{
font-family:Freshman;
src: url(Freshman.ttf);
}
/*---------------------------------base slides-----------------------------------------------------------------------------------------------------------*/
#container{
	height: 100%;
	
}
#contents{
	top:0px;

}
/*------------------------------slides mapping-----------------------------------------------------------------------------------------------------------------*/
#maps{
	position:static;
	top:25%;
	left:-100px;
	height:20px;
	width:200px;
	position:relative;
	z-index:3;
	float:right;
}
.mapsingle{
	height:20px;
	width:20px;	
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	position:absolute;
	border:solid;
	border-color:#FFDBAD;
	opacity:0.3;
	background-color:#111111;
}
#map1{
	left:0px;
	border-radius: 15px;
}
#map2{
	left:45px;
	border-radius: 15px;
}
#map3{
	left:90px;
	border-radius: 15px;
}
#map4{
	left:135px;
	border-radius: 15px;
}
.line{
	width:19px;
	background-color:#CCCCCC;
	height:3px;
	position:absolute;
	top:11px;
	opacity:0.3;
}
#line1{
	left:26px;
}
#line2{
	left:71px;
}
#line3{
	left:116px;
}


/*------------------------------------------side wipes-----------------------------------------------------------------------------------------------------------------*/
#wipeleft{
	left:-50px;
	float:left;
}
#wiperight{
	right:-50px;
	float:right;
}
.wipe{
	top:30%;
	position:static;
	background-color:#FFAE00;
	height:80px;
	width:100px;
	position:absolute;
	z-index:3;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}
/*-------------------------------------------------slides basic setup-----------------------------------------------------------------------------------------------------------------*/
.slide{
	height: 90%;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	
}
.mainbg{
	height: 90%;
	position:absolute;
	left:0;
	top:0;
	width: 100%;
	background-image:url(../img/mainbgcake.jpg);
	background-size:100% 100%;
	background-repeat:repeat;
	/*background: yellow;*/
}
#slide1{
	left:0;
	/*background-color:#FC9B01;*/
	
	
}
#slide2{
	left:100%;
	background-color:#333333;
	background-image:url(../img/map.jpg);
	background-size:100% 100%;
	z-index:2;
}
#slide3{
	left:200%;
	/*background-color:#EEEEEE;*/
}
#slide4{
	left:200%;
	background-color:#0D0306;
	z-index:2;
}
/*----------------------------------------------------top header bars-----------------------------------------------------------------------------------------------------------------*/
#topblack{
	background-color:#CE5101;
	position:static;
	top:0%;
	height:0%;
	width:100%;
	position:absolute;
	z-index:2;
}
#toporange{
	background-color:#2B1500;
	/*background-image:url(../img2/orange%20bar.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;*/
	position:static;
	top:0%;
	height:7%;
	width:100%;
	position:absolute;
	z-index:2;
}
.index{
	position:static;
	height:58px;
	position:absolute;
	z-index:2;
	cursor:pointer;
	font-family:Freshman;
	color:#FFFFFF;
	font-size:16px;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
}
#aboutid{
	left:10%;
}

#menuid{
	left:25%;
}
#contactsid{
	left:40%;
}
/*----------------------------------------------------footer-----------------------------------------------------------------------------------------------------------------*/
#footer{
	background-color:#0D0306;
	position:static;
	top:90%;
	height:50%;
	width:100%;
	position:absolute;
	z-index:2;
}
#previousorderform{
	position:absolute;
	top:50%;
	left:68%;
	border-radius:5em;
}
#todaysspecial{
	width:90%;
	
	position:relative;
	height:100%;
}
#todaypic{
	width:300px;
	position:absolute;
	height:200px;
	background-color:#FF0000;
	
	background-size:100% 100%;
	
}
/*-----------------------------------------SUBHEAD----------------------------------------------------------------------------------*/
.subhead{
	position:static;
	top:0%;
	height:100%;
	position:absolute;
	z-index:2;
	font-family:Freshman;
	color:#FFFFFF;
	font-size:16px;
	padding-top:15px;
	padding-bottom:15px;
}
#welcome{
	width:200px;
}
#footerdata{
	
}	
#footerbgline{
	background-color:#FF6600;
	position:absolute;
	top:0px;
	left:0px;
	height:5px;
	width:100%;
	position:absolute;
}
.tabledatahead1{
	width:350px;
	height:15px;
	color:#FFFFFF;
	font-size:26px;
	padding-top:30px;
	padding-bottom:0px;
	z-index:2;
	font-family:Freshman;
	font-weight:200;
}

.tabledatahead2{
	width:350px;
	height:15px;
	color:#D86407;
	font-size:14px;
	padding-top:0px;
	padding-bottom:20px;
	z-index:2;
	font-family:Freshman;
	font-weight:200;
}
.texthead2{
	color:#D86407;
	font-size:14px;
	font-family:Freshman;
	font-weight:200;
}
.tabledata{
	width:15%;
	color:#FFDBAD;
	font-size:14px;
	z-index:2;
	text-align:justify;
}
/*-----------------------------------------slide1 page----------------------------------------------------------------------------------*/
#formcontainer{
	top:50%;
	left:60%;
	position:absolute;
	width:30%;
	height:40%;
}
.texthead1{
	color:#333333;
	font-size:26px;
	font-family:Freshman;
	font-weight:200;
}
.formtabs{
	background-color:#990000;
	width:30%;
	height:40%;
	position:absolute;
	top:75%;
}
#orderdetails{
	color:#999999;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif, "Headline One";
	z-index:2;
	position:relative;
}
#quickorderform{
	position:relative;
	top:10%;
	border-radius:5em;
}

#missedcall{
	top:80%;
	position:absolute
}
#pointer{
	top:7%;
	height:30px;
	width:30px;
	background-image:url(../img/pointer.png);
	left:11%;
	position:absolute;
	z-index:3;
}
/*-----------------------------------------slide 3 categories----------------------------------------------------------------------------------*/
#categories{
	top:7%;
	height:93%;
	width:20%;
	background-color:#EEEEEE;
	left:0%;
	position:absolute;
	z-index:2;
}
.categorystyle{
	top:0%;
	height:25%;
		background-color:#0D0306;
	width:100%;
	left:0%;
	position:absolute;
	z-index:3;
	font-family:Freshman;
	color:#FFFFFF;
	font-size:36px;
	text-align:center;
	padding-top:60px;
	padding-bottom:60px;
	cursor:pointer;
}
.categorystylehigh{
	top:0%;
	height:15%;
	width:100%;
	left:0%;
	background-color:#0D0306;
	position:absolute;
	z-index:3;
	font-family:Freshman;
	color:#FFAE00;
	font-size:36px;
	text-align:center;
	padding-top:60px;
	padding-bottom:60px;
	cursor:pointer;
	opacity:0;
}
#cat1{
	top:0%;
}
#cat2{
	top:25%;
}
#cat3{
	top:50%;
}
#cat4{
	top:75%;
}
#cate1{
	top:0%;
}
#cate2{
	top:25%;
}
#cate3{
	top:50%;
}
#cate4{
	top:75%;
}
#slide3bg{
	background-color:#FFFFFF;
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;


}
#picholder{
	top:7%;
	height:93%;
	width:70%;
	left:25%;
	position:absolute;
	z-index:2;
	overflow:scroll;
}
.picindividualbase{
	width:240px;
	height: 340px;
	position:relative;
	padding-bottom:10px;
	float:left;
	margin:30px;
	z-index:2;
	border:2;
	border-color:#FFFFFF;
	border-style:solid;
}
.picindividualdetails{
	width:220px;
	height: 160px;
	position:absolute;
	
	padding-bottom:10px;
	float:left;
	left:10px;
	opacity:0;
	z-index:3;
}
.picindividualdetails2{
	width:220px;
	top:170px;
	height: 130px;
	position:absolute;
	background-color:#FFFFFF;
	padding-bottom:10px;
	float:left;
	left:10px;
	opacity:1;
	z-index:3;
}
.picindividual{
	width:200px;
	height: 150px;
	left:20px;
	top:10px;
	position:absolute;
	background-color:#FFAE00;
	overflow:hidden;
}
.cakespics{
	width:200px;
	height: 150px;
	left:0px;
	top:0px;
	position:absolute;
	background-color:#FFAE00;
	overflow:hidden;
}
.pichead1{
	color:#333333;
	font-size:16px;
	z-index:2;
	text-align:justify;
	/*font-family:Freshman;
	font-weight:100;*/
}
.pichead2{
	color:#999999;
	font-size:13px;
	z-index:2;
	text-align:justify;
}
.pichead3{
	color:#000000;
	font-size:20px;
	z-index:2;
	text-align:justify;
}
.line2{
	background-color:#CCCCCC;
	width:200px;
	height:1px;
	position:relative;
	margin-top:3px;
	margin-bottom:3px;
}

/*-----------------------------------------end page----------------------------------------------------------------------------------*/
#links{
	width:200px;
	height:100px;
	bottom:10%;
	position:absolute;
	right:10%;
	z-index:2;
	overflow:hidden;
}
#facebook{
	background-image:url(../img/facebookh.png);
	height:100px;
	width:100px;
	position:absolute;
}
#twitter{
	background-image:url(../img/twitterh.png);
	height:100px;
	width:100px;
	left:100px;
	position:absolute;
}
#additional{
	height:100px;
	width:400px;
	right:10%;
	position:absolute;
	top:17%;
	color:#CCCCCC;
	font-family:DFLiHeiBold(P);
	font-weight:700;
	font-size:20px; 
	cursor: pointer;
}
.slide5heading{
	font-size:85px; 
	top:20%;
	font-family:DFLiHeiBold(P);
	font-weight:700;
	width:100%;
	position:relative;	
	left:10%;
	height:100%;
	color:#FFFFFF;
}
#map_canvas{
	background-color:#CCC;
	top:40%;
	left:10%;
	width:600;
	height:300px;
	z-index:3;
	position:absolute;
}
#address{
	top:55%;
	left:75%;
	height:200px;
	width:400px;
	z-index:2;
	position:absolute;
	color:#FFFFFF;
}
